/* =========================================================

    1. Global
    2. Typography 
    3. Structure
    4. Components
    5. Responsive Design

========================================================= */

/* 1. Global
========================================================= */
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

/* 2. Typography
========================================================= */
* {
    font-family: 'Courier New', Courier, monospace;
}

/* 3. Structure
========================================================= */
.header, .footer {
    background-color: hsl(120, 50%, 80%);
    padding: 1rem;
}

.main {
    background-color: hsl(120, 10%, 90%);
    padding: 1rem;
}

.flex {
    display: flex;
}

.card {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

/* 4. Components
========================================================= */

/* 5. Responsive Design
========================================================= */