/* =========================================================

    1. Global
    2. Typography 
    3. Structure
    4. Components
    5. Responsive Design

========================================================= */

/* 1. Global
========================================================= */
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

/* 2. Typography
========================================================= */
* {
    font-family: 'Courier New', Courier, monospace;
}

/* 3. Structure
========================================================= */
.header, .footer {
    background-color: hsl(120, 50%, 80%);
    padding: 1rem;
}

.main {
    background-color: hsl(120, 10%, 90%);
    padding: 1rem;
}

.flex {
    display: flex;
}

.card {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

.app-head {
    display: flex;
    justify-content: space-between;
}

#credential-msg {
    display: none;
    background-color: hsl(1, 50%, 20%);
    color: white;
}


/* 4. Components
========================================================= */

.btn {
    padding: 0.25rem;
}

.inline-btn {
    margin: 0 1rem;
    padding: 0.125rem 0.25rem;

    border-radius: 0.25rem;
}
.inline-btn:hover {
    background-color: hsl(210, 10%, 20%);
    color: white;
}

/* 5. Responsive Design
========================================================= */