/* =========================================================

    1. Global
    2. Typography 
    3. Structure
    4. Components
    5. Responsive Design

========================================================= */

/* 1. Global
========================================================= */
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

/* 2. Typography
========================================================= */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.inline-text {
    margin: 0 0.5rem;
    padding: 0.25rem;
    background-color: hsla(150, 50%, 90%, 0);
    border: 0 solid black;
    border-radius: 0.5rem;
}
.inline-text:hover {
    background-color: hsla(150, 50%, 90%, 0.5);
    border: 0.1rem solid black;
    padding: 0.15rem;
}

.checkbox:checked ~ .inline-text {
    text-decoration: line-through;
}

.item:hover .inline-btn {
    display: block;
}

/* 3. Structure
========================================================= */
hr {
    margin: 1rem;
}

.header, .footer {
    background-color: hsl(120, 50%, 80%);
    padding: 1rem;
}

.main {
    background-color: hsl(120, 10%, 95%);
    padding: 1rem;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-field {
    height: 7rem;
    width: 21rem;
    padding: 0.5rem;
}

.card {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

.app-head {
    display: flex;
    justify-content: space-between;
}

#credential-msg {
    display: none;
    background-color: hsl(1, 50%, 20%);
    color: white;
}

#app {
    min-height: 20rem;
}

.app-body {
    margin-top: 2rem;
}


/* 4. Components
========================================================= */

.btn {
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;

    border: 0.1rem solid black;

    background-color: white;
}
.btn:hover {
    background-color: hsl(1, 0%, 90%);
}

.inline-btn {
    margin: 0 0.25rem;
    padding: 0 0.25rem;

    border-radius: 0.25rem;

    display: none;
}

.item {
    width: 20rem;
    margin: 0.25rem;
}
.item:hover {
    background-color: hsl(1, 0%, 80%);
}

.danger-btn {
    background-color: hsl(1, 90%, 30%);
    color: white;
}
.danger-btn:hover {
    background-color: hsl(1, 90%, 20%);
}

.primary-btn {
    background-color: hsl(120, 50%, 30%);
    color: white;
}
.primary-btn:hover {
    background-color: hsl(120, 50%, 20%);
}

.login-input {
    height: 1.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;

    border: 0.1rem solid hsl(150, 50%, 20%);
}

#add-task {
    width: 10rem;
}

/* 5. Responsive Design
========================================================= */
@media only screen and (max-width: 400px) {
    .login-field {
        width: 90%;
    }
}